service: my-api-service

frameworkVersion: '4'

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  environment:
    RDS_HOST: ${env:RDS_HOST}
    RDS_PORT: ${env:RDS_PORT}
    RDS_DATABASE: ${env:RDS_DATABASE}
    RDS_USER: ${env:RDS_USER}
    RDS_PASSWORD: ${env:RDS_PASSWORD}
    GITHUB_TOKEN: ${env:GITHUB_TOKEN}

functions:
  api:
    handler: index.handler
    timeout: 200
    events:
      - http:
          path: authenticate
          method: PUT
      - http:
          path: register
          method: POST
      - http:
          path: packages
          method: POST
      - http:
          path: reset
          method: DELETE
      - http:
          path: package/byRegEx
          method: POST
      - http:
          path: package/byName/{name}
          method: GET
      - http:
          path: package
          method: POST
      - http:
          path: package/{id}/rate
          method: GET
      - http:
          path: package/{id}/cost
          method: GET
      - http:
          path: package/{id}
          method: GET
      - http:
          path: package/{id}
          method: POST
      - http:
          path: package/{id}
          method: DELETE
      - http:
          path: tracks
          method: GET
      - http:
          path: sql
          method: POST
      - http:
          path: groups
          method: POST
      - http:
          path: permissions
          method: POST
      - http:
          path: users/{userId}/edit
          method: PUT
      - http:
          path: users/groups-permissions
          method: GET
      - http:
          path: users/{userId}
          method: DELETE
      - http:
          path: groups/{groupId}
          method: DELETE
      - http:
          path: permissions/{permissionId}
          method: DELETE
      - http:
          path: users/{userId}/groups-permissions
          method: GET