name: Deploy Lambda Function

on:
  push:
    branches:
      - single_lambda

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install zip tool
        run: sudo apt-get install zip -y

      - name: Navigate to Backend and Install Dependencies
        run: |
          cd backend/src
          echo "Installing dependencies"
          npm install

      - name: Create Zip file for Lambda function
        run: |
          cd backend/src
          zip -r ../../code.zip .

      - name: Upload Zip to S3
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - run: |
          aws s3 cp code.zip s3://s3packteam32/code.zip

      - name: Update Lambda Function from S3
        run: |
          aws lambda update-function-code \
            --function-name arn:aws:lambda:us-east-1:438465151830:function:Get_S3_lambda \
            --s3-bucket s3packteam32  \
            --s3-key code.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: "us-east-1"
