name: Deploy to AWS

on:
  push:
    branches:
      - single_lambda
  pull_request:
    branches:
      - single_lambda


jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-south-1
      NODE_ENV: development

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          cd backend/src
          echo "Installing dependencies"
          npm install

      - name: Run tests
        run: |
          echo "Running tests"
          npm test

      - name: Build project
        run: |
          echo "Building project"
          npm run build

      - name: Package Lambda function
        run: |
          echo "Zipping the Lambda function"
          zip -r function.zip dist/serverless-handler/ node_modules/ package.json

      - name: Deploy with Serverless
        run: |
          echo "Deploying to AWS"
          npm install -g serverless
          serverless deploy --stage dev --verbose
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
