name: Deploy Lambda Function

on:
  push:
    branches:
      - single_lambda

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install zip tool
        run: sudo apt-get install zip -y

      - name: Navigate to Backend and Install Production Dependencies
        working-directory: backend/src
        run: |
          echo "Installing production dependencies"
          npm install --only=prod
          npm run build
          npm uninstall serverless serverless-http webpack webpack-cli webpack-node-externals aws-lambda


      - name: Create Zip file for Lambda function with Dependencies
        working-directory: backend/src
        run: |
          echo "Zipping Lambda function files and node_modules"
          zip -r ../../code.zip index.js package.json node_modules default.eslintrc.json

      - name: Update Lambda function code with AWS CLI v2
        uses: imehedi/actions-awscli-v2@latest
        with:
          args: "lambda update-function-code \
            --function-name arn:aws:lambda:us-east-1:438465151830:function:Get_S3_lambda \
            --zip-file fileb://code.zip"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: "us-east-1"
